<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="app.js"></script>
<script>
    const toggleBtn = document.querySelector('.toggle');
    const navLinks = document.querySelector('.navLink');

    toggleBtn.addEventListener('click', () => {
        navLinks.classList.toggle('nav-active');
    });
</script>
</body>
</html>